{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "styles/create.css" %}">
{% endblock %}

{% block content %}

    <div class="create-form">
        <form action="" method="post">
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            {% csrf_token %}
            {{ formset.management_form }}
            {{ form.name.label_tag }}
            <input type="text" name="{{ form.name.html_name }}" id="{{ form.name.auto_id }}" placeholder="{{ form.name.placeholder }}" value="{{ form.name.value|default_if_none:"" }}">
            {% if formset.non_form_errors %}
                {{ formset.non_form_errors }}
            {% endif %}
            {% if formset.errors %}
                {{ formset.errors }}
            {% endif %}
            <div class="questions" id="q-formset"></div>
            <div class="create-controllers">
                    <button type="submit" class="create-btn" name="submit">{% trans "Create Survey" %}</button>
                    <button type="button" class="inc-btn" name="add-question" id="q-add" value="{% trans "+" %}">{% trans "+" %}</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function() {
            let q = {
                element: document.querySelector('#q-formset'),
                addBtn: document.querySelector('#q-add'),

                counter: 0,
                forms: {
                    total: 0,
                    input: document.querySelector('input[name="q-TOTAL_FORMS"]'),
                }
            }

            function createField(field) {
                let el = document.createElement(field.tag);
                el.setAttribute("name", `q-${q.counter}-${field.name}`);

                if (field.name === "delete") {
                    el.classList.add("delete-btn")
                }

                if (field.required) {
                    el.setAttribute("required", "required")
                }

                if (field.placeholder) {
                    el.setAttribute("placeholder", field.placeholder)
                }

                if (field.type) {
                    el.setAttribute("type", field.type)
                }

                if (field.value) {
                    el.setAttribute("value", field.value)
                }
                return el
            }

            // Create form
            function addQuestionsForm() {

                let fields = [
                    // name
                    createField({tag: "input", name: "name", placeholder: "name", required: true}),
                    // description
                    createField({tag: "textarea", name: "description", placeholder: "{% trans "Description" %}"}),
                    {#// type#}
                    {#createField({tag: "select", name: "type", options: []}),#}
                    {#// isRequired#}
                    {#createField({tag: "input", type: "checkbox", name: "is_required", }),#}
                    // delete button
                    createField({tag: "input", type: "button", name: "delete", value: "{% trans "-" %}"}),
                ]
                // TODO remove or update
                // let divElement = document.createElement('div')
                fields.forEach((field) => {
                    // divElement.appendChild(field)
                    q.element.append(field)
                })
                q.counter += 1;
                q.forms.total += 1;
                return divElement
            }
            q.addBtn.onclick = function() {
                q.element.appendChild(addQuestionsForm())
                q.forms.input.value = q.forms.total;
                let btns = document.querySelectorAll('.delete-btn')
                btns.forEach((btn) => {
                    btn.onclick = function(e) {
                        q.forms.total -= 1;
                        q.forms.input.value = q.forms.total;
                        e.target.parentElement.remove();
                    }
                })
            }
        })();
    </script>
{% endblock %}
