{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/survey.css" %}">
{% endblock %}

{% block content %}
<section class="container">
    <h1>{{ survey.name }}</h1>
    <div>
        <a href="{{ survey.get_json_url }}">{{ survey.uid }}</a><code></code>
    </div>
    <div>
        {% blocktrans %}
            cURL example how to extract responses via EOS testnet API. Just copy-paste it into your terminal under
            macOS or Linux
        {% endblocktrans %}
    </div>
    <div class="code-wrapper">
        <code>
            {{ survey.get_responses_curl|linebreaks }}
        </code>
    </div>
    <h3>{% trans "Response from EOS Node API" %}</h3>
    <div class="code-wrapper">
        <code id="json"></code>
    </div>
</section>
{% endblock %}

{% block js %}
    <script>
        (function() {
            let config = {
                api: {
                    uri: "https://api.testnet.eos.io",
                    // TODO in case we change smart contract this must be changed as well
                    contract: "asbizxenfaac",
                    endpoint: "/v1/chain/get_table_rows",
                    scope: "{{ survey.uid }}",
                },
                el: document.querySelector("#json")
            }

            function rows() {
                fetch(`${config.api.uri}${config.api.endpoint}`, {
                    method: "POST",
                    body: JSON.stringify({
                        code: config.api.contract,
                        table: "response",
                        scope: config.api.scope,
                        // TODO for production usage this can be handled with chunks and pagination
                        limit: 10000,
                        json: true
                    })
                }).then(response => response.json()).then(data => {
                    config.el.innerHTML = JSON.stringify(data)
                });
            }
            rows()
        })()
    </script>
{% endblock %}