{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/survey.css" %}">
{% endblock %}

{% block content %}
<section class="container">
    <div class="response-screen center">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="notification">
                    {% for field, error in form.errors.items  %}
                        <div class="label">
                            {{ error.as_text }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in form %}
                <div>
                    <div class="label">
                        {{ field.label_tag }}
                    </div>
                    <input type="text" name="{{ field.html_name }}" value="{{ field.value|default_if_none:"" }}">
                    {% if field.help_text %}
                    <div class="help-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="create-btn btn" name="submit">{% trans "Submit" %}</button>
        </form>
    </div>
</section>
{% endblock %}