{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h3>{{ survey.name }}</h3>
    <h3>{{ survey.uid }}</h3>
    {% if survey.is_draft %}
        <a href="{{ survey.get_publish_url }}">{% trans "Publish" %}</a>
    {% endif %}
    {% if survey.is_published %}
        <div>
            <span>{% trans "Response URL to share:" %}</span>
            <a href="{{ survey.get_response_url }}">{{ survey.get_response_url }}</a>
        </div>

        {% if survey.user == request.user %}
            <a href="{{ survey.get_delete_url }}">{% trans "Delete" %}</a>
        {% endif %}
    {% endif %}
    <div>
        {% blocktrans %}
            cURL example how to extract responses via EOS testnet API. Just copy-paste it into your terminal under
            macOS or Linux
        {% endblocktrans %}
        <code>
            {{ survey.get_responses_curl }}
        </code>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    {% for question in survey.questions.all %}
                    <td>{{ question.name }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="survey-data">
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        (function() {
            let config = {
                api: {
                    uri: "https://api.testnet.eos.io",
                    // TODO in case we change smart contract this must be changed as well
                    contract: "asbizxenfaac",
                    endpoint: "/v1/chain/get_table_rows",
                    scope: "{{ survey.uid }}",
                },
                tbody: document.querySelector("#survey-data")
            }

            function rows() {
                fetch(`${config.api.uri}${config.api.endpoint}`, {
                    method: "POST",
                    body: JSON.stringify({
                        code: config.api.contract,
                        table: "response",
                        scope: config.api.scope,
                        // TODO for production usage this can be handled with chunks and pagination
                        limit: 10000,
                        json: true
                    })
                }).then(response => response.json()).then(data => {
                    data.rows.forEach(row => {
                        let tr = document.createElement("tr")
                        row.answers.forEach(answer => {
                            let td = document.createElement("td")
                            td.innerHTML += answer
                            tr.appendChild(td)
                        })
                        config.tbody.appendChild(tr)
                    })
                });
            }
            rows()
        })()
    </script>
{% endblock %}