{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h3>{{ survey.name }}</h3>
    <h3>{{ survey.uid }}</h3>
    {% if survey.is_draft %}
        <a href="{{ survey.get_publish_url }}">{% trans "Publish" %}</a>
    {% endif %}
    {% if survey.is_published %}
        <div>
            <span>{% trans "Response URL to share:" %}</span>
            <a href="{{ survey.get_response_url }}">{{ survey.get_response_url }}</a>
        </div>

        {% if survey.user == request.user %}
            <a href="{{ survey.get_delete_url }}">{% trans "Delete" %}</a>
        {% endif %}
    {% endif %}
    <ul>
    {% for question in survey.questions.all %}
        <li>{{ question }}</li>
    {% endfor %}
    </ul>
{% endblock %}