{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h3>{{ survey.name }}</h3>
    <h3>{{ survey.uid }}</h3>
    {% if survey.is_draft %}
        <a href="{{ survey.get_publish_url }}">{% trans "Publish" %}</a>
    {% endif %}
    {% if survey.is_published %}
        <div>
            <span>{% trans "Response URL to share:" %}</span>
            <a href="{{ survey.get_response_url }}">{{ survey.get_response_url }}</a>
        </div>

        {% if survey.user == request.user %}
            <a href="{{ survey.get_delete_url }}">{% trans "Delete" %}</a>
        {% endif %}
    {% endif %}
    <div>
        <table>
            <thead>
                <tr>
                    {% for question in survey.questions.all %}
                    <td>{{ question.name }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        (function() {
            let config = {
                api: {
                    uri: "https://api.testnet.eos.io",
                    // TODO in case we change smart contract this must be changed as well
                    contract: "asbizxenfaac",
                    getTableByScope: "/v1/chain/get_table_by_scope",
                    scope: "{{ survey.uid }}",
                }
            }

            function rows(scope) {
                let request = new XMLHttpRequest();
                request.open("POST", `${config.api.uri}${config.api.getTableByScope}`, true);
                request.setRequestHeader('Content-Type', 'application/json');
                request.send(JSON.stringify({
                    code: config.api.contract,
                    table: "response",
                    scope: config.api.scope,
                    limit: 10000,
                    json: true
                }))
                request.onload = function() {
                  if (this.status >= 200 && this.status < 400) {
                    let data = JSON.parse(this.response);
                    console.log(data)
                  } else {
                      console.error(this.response)
                  }
                };
            }
            rows()
        })()
    </script>
{% endblock %}