{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lan="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    {% block css %}
        <link rel="stylesheet" href="{% static "styles/style.css" %}">
    {% endblock %}
    <title>EOS Forms</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h4>
                <a href="{% url "landing" %}">{% trans "EOS Forms" %}</a>
            </h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="{% url "landing" %}">{% trans "Home" %}</a>
            </li>
            <li>
                <a href="{% url "users:dashboard" %}">{% trans "Dashboard" %}</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url "surveys:create" %}">{% trans "Survey" %}</a>
            </li>
            <li>
                <a href="{% url "surveys:response" %}">{% trans "Response" %}</a>
            </li>
            <li>
                <a href="{% url "users:signout" %}">{% trans "Sign out" %}</a>
            </li>
            {% else %}
            <li>
                <a href="{% url "users:signup" %}">{% trans "Sign up" %}</a>
            </li>
            <li>
                <a href="{% url "users:signin" %}">{% trans "Sign in" %}</a>
            </li>
            {% endif %}
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <section>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </section>
    {% block js %}
    <script src="{% static "scripts/slide.js" %}"></script>
    {% endblock %}
</body>

</html>