{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "styles/landing.css" %}">
{% endblock %}

{% block content %}
<div class="home-content container">
    <div class="home-text">

        <div class="hs-description">
            {% trans "FREE DAPP FOR CREATING SURVEYS AND COLLECTING RESPONSES ON EOS BLOCKCHAIN DURING COVID-19 PANDEMIC" %}
        </div>

        <a class="btn" href="{% url "users:signup" %}">{% trans "Sign up" %}</a>

        <div class="hs-counters container">
            <div class="item">
                <div class="form-icon">
                    <img src="{% static "images/survey.png" %}" width=100 height=100>
                </div>
                <div class="form-counter">
                    {% trans "Total forms" %} {{ eos.forms }}
                </div>
            </div>

            <div class="item">
                <div class="response-icon">
                    <img src="{% static "images/respose.png" %}" width=100 height=100>
                </div>
                <div class="response-counter">
                    {% trans "Total responses" %} {{ eos.responses }}
                </div>
            </div>
    </div>
</div>
{% endblock %}