{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/dashboard.css" %}">
{% endblock %}

{% block content %}
    <div class="dashboard-screen">

        <table>
            <thead>
            <tr>
                <th>
                    <div for="id_s-name">{% trans "Survey" %}</div>
                </th>
                <th class="fixed-100">

                    <div for="id_s-name">{% trans "Responses" %}</div>
                </th>
                <th>

                    <div for="id_s-name">{% trans "EOS link" %}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for survey in surveys %}
                <tr>
                    <td>
                        <a href="{{ survey.get_absolute_url }}">{{ survey.name }}</a>
                    </td>
                    <td>
                        <a href="{{ survey.get_response_url }}" target="_blank">{% trans "Add" %}</a>
                    </td>
                    <td>
                        <a href="{{ survey.get_json_url }}" target="_blank">{{ survey.uid }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}