{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "styles/reset.css" %}">
{% endblock %}

{% block content %}

<div class="reset">
    <div class="reset-screen">
        <div class="app-title">
            <h1>{% trans "Finish reset password" %}</h1>
        </div>

        <div class="reset-form">
            <form action="" method="post">
                {% csrf_token %}
                <div class="control-group">
                    <input type="password" class="login-field" name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:"" }}" placeholder="{% trans "password" %}" id="login-pass">
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" name="{{ form.password_confirm.html_name }}" value="{{ form.password_confirm.value|default_if_none:"" }}" placeholder="{% trans "password" %}" id="login-pass">
                </div>
                <button class="btn btn-primary btn-large btn-block" type="submit">{% trans "confirm reset" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}