{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "styles/reset.css" %}">
{% endblock %}

{% block content %}

<div class="reset">
    <div class="reset-screen">
        <div class="app-title">
            <h1>{% trans "Reset password" %}</h1>
        </div>

        <div class="reset-form">
            <form action="" method="post">
                {% csrf_token %}
                <div class="control-group">
                    <input type="text" class="login-field" name="{{ form.email.html_name }}" value="{{ form.email.value|default_if_none:"" }}" placeholder="{{ form.email.placeholder|default_if_none:"" }}" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <button class="btn btn-primary btn-large btn-block" type="submit">{% trans "reset password" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}