{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "styles/signin.css" %}">
{% endblock %}

{% block content %}

<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>{% trans "Sign up" %}</h1>
        </div>

        <div class="login-form">
            <div class="control-group">
                <input type="text" class="login-field" value="{{ form.email.value }}" placeholder="{{ form.email.placeholer }}" id="login-name" name="{{ form.email.html_name }}">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" value="{{ form.password.value }}" placeholder="{{ form.password.placeholder }}" id="login-pass" name="{{ form.password.html_name }}">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <button type="submit" class="btn btn-primary btn-large btn-block">{% trans "sign up" %}</button>
        </div>
    </div>
</div>

{% endblock %}